@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --popover: #0a5b08; /* background color */
  --popover-foreground: #ffffff; /* text color */
  --border: #e5e7eb; /* border color */
  --radius: 0.5rem;
}
