@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --popover: #ffffff; /* background color */
  --popover-foreground: #1f2937; /* text color */
  --border: #e5e7eb; /* border color */
  --radius: 0.5rem;
}
